* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form__container {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  gap: 10px;
  align-items: center;
}
.form__wrapper form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #5b5d8d;
}
.title {
  color: #5b5d8d;
  font-size: 20px;
}
input {
  border: none;
  border-bottom: 1px solid #a7bcff;
  padding: 12px;
  width: 350px;
  outline: none;
}
input::placeholder {
  color: rgb(175, 175, 175);
}
button .btn {
  background-color: #7b96ec;
  color: white;
  border: none;
  padding: 12px;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
}

.form__container p {
  font-size: 12px;
  color: #5b5d8d;
  margin-top: 10px;
}
.addUser {
  display: none;
}
label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #7b96ec;
  font-size: small;
  cursor: pointer;
}
label img {
  width: 50px;
}

/* Home section css */
.home {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: 1px solid white;
  width: 65%;
  height: 80%;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
}
.sidebar {
  flex: 1;
  background-color: #3e3c61;
  overflow: auto;
  overflow-x: hidden;
}

.chat {
  flex: 2;
}
/* Navbar styling */
.navbar {
  display: flex;
  background-color: #363759;
  padding: 15px;
  justify-content: space-between;
  color: rgb(221, 214, 214);
}
.navbar .user {
  display: flex;
  gap: 10px;
  align-items: center;
}
img {
  background-color: #dddf;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
}
.nextlogo {
  font-weight: bold;
}
.btn2 {
  width: 60px;
  padding: 4px 0px;
  cursor: pointer;
  background-color: #7d7fc9;
  color: white;
  border: none;
  border-radius: 3px;
  outline: none;
}
/* Styling for search components */

.search {
  border-bottom: 1px solid grey;
}
.search input {
  background-color: #2e2f43;
  color: white;
  border: none;
}
.userChat {
  display: flex;
  gap: 10px;
  padding: 15px;
  align-items: center;
  color: rgb(226, 220, 220);
}

.userChat:hover {
  background-color: #2f2d52;
}
.userChatInfo span {
  font-size: 15px;
}
.userChatInfo p {
  font-size: 12px;
  font-weight: 300;
  color: lightgray;
}
/* Write css for chat section */
.chatInfo {
  display: flex;
  padding: 15px;
  background-color: #5b5d8d;
  justify-content: space-between;
  align-items: center;
}
.chatInfo span {
  color: white;
}
.chatIcons {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.messages {
  background-color: #dddf;
  padding: 10px;
  height: calc(100% - 100px);
  overflow-y: auto;
}
/* css for input section */
.input {
  height: 3rem;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input input {
  border: none;
  background: transparent;
  color: #2f2d52;
  font-size: 15px;
}
.send {
  display: flex;
  gap: 10px;
  padding-right: 10px;
  align-items: center;
}
.send img {
  height: 20px;
  width: 20px;
  object-fit: cover;
  background: transparent;
  cursor: pointer;
}
.btn3 {
  width: 65px;
  padding: 10px 0px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: #7b96ec;
  color: white;
  cursor: pointer;
}

/* Styling for message section */
.message {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.messageInfo {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.messageInfo span {
  color: rgb(173, 171, 171);
  font-size: 12px;
}
.messageContent {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  gap: 10px;
}
.messageContent p {
  background-color: white;
  padding: 5px 10px;
  border-radius: 0px 5px 5px 5px;
  font-size: 15px;
}
.messageContent img {
  width: 50%;
  height: 100%;
  border-radius: 5px;
}
.owner {
  flex-direction: row-reverse;
}
.owner .messageContent p {
  background-color: #7b96ec;
  border-radius: 5px 0px 5px 5px ;
  max-width: max-content;
}
.owner .messageContent{
  align-items: flex-end;
}
